
     
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
   

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form action="/admin/dailySalesReport" id="proOffer" method="post" class="form-horizontal">
       
      <div class="panel panel-default">
        <div class="panel-heading">
        <h2 class="panel-title text-dark">DAILY SALES REPORT</h2><br>
        </div>
        
        <div class="panel-body">
          
          
          <div class="form-group">
            <label class="col-sm-2 control-label text-dark">Start date</label>
            <div class="col-sm-10">
              <input name="startDate" onchange="dateValid()" id="txtDate" type="date" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label text-dark">End date</label>
            <div class="col-sm-10">
              <input name="endDate" disabled id="endDate" type="date" class="form-control">
            </div>
          </div>
           <button class="btn btn-primary ml-2" type="submit">SUBMIT</button>
        </div>
      </div>

    </form>
  </div>
</div>
</div><br><br> 


    <div class="card">
  <div class="card-body">
    {{!-- <h4 class="card-title">DAILY SALES REPORT</h4> --}}
   
   <table id="dailySales" class="table table-striped display nowrap" style="width:100%">  
        <thead>
            <tr class="text-center">
                <th>Sl.no</th>
                <th>Date</th>
                <th>Product count</th>
                <th>Revenue</th>
                {{!-- <th>Start date</th>
                <th>Salary</th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each sale}}
            <tr class="text-center">
                <td>{{@index}}</td>
                <td>{{this._id}}</td>
                <td>{{this.prodCount}}</td>
                <td>{{this.Revenue}}</td>
                {{!-- <td>2011/04/25</td>
                <td>$320,800</td> --}}
            </tr>
            {{/each}}
           
        </tbody>
   </table>
   
  </div>
</div>
   
   

       <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
       <!-- <script src="user/javascripts/jquery-3.2.1.min.js"></script> -->
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
       <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
       <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js" defer></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" defer></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" defer></script>
       <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js" defer></script>
       <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js" defer></script>

        <script>
          $(document).ready(function(){
          $('#dailySales').DataTable({
        dom:'Bfrtip',
        buttons:[
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});

$('#dailySales tbody tr').each(function (idx){
        $(this).children("td:eq(0)").html(idx+1)
      })



      $("#proOffer").validate({
    rules:{
     
        startDate:{
            required:true

        },
        
        endDate:{
            required:true
        }
      
         
    },
    messages:{
       
        startDate:{
            required:'Startdate is required'

        },
        endDate:{
            required: 'Enddate is required'
        }
    }
       
});


{{!-- date disable --}}

$(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    {{!-- alert(maxDate); --}}
    $('#txtDate').attr('max', maxDate);
    {{!-- $('#endDate').attr('max', maxDate); --}}
});

function dateValid(){
    var dtToday =new Date();
    document.getElementById('endDate').removeAttribute("disabled")
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    {{!-- alert(maxDate); --}}
    $('#endDate').attr('max', maxDate);
};


 </script>