
<div class="row d-flex justify-content-center p-5">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">ADD NEW ADDRESS</h5>
        <div class="d-flex justify-content-center">
          {{#if addressExist}}
          <p class="text-danger">This address already exist</p>
          {{/if}}
        </div>
       
      </div>
      <div class="card-body">
        <form action="/Addressdata" id="addaddress" method="post">
          <!-- 2 column grid layout with text inputs for the first and last names -->
           <div class="form-outline mb-4">
             <label class="form-label"  for="form7Example3">Full name</label>
            <input type="text" id="form7Example3" name="name" class="form-control" />
            
          </div>
            

          <!-- Text input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form7Example3">House/Building number</label>
            <input type="text" id="form7Example3" name="house" class="form-control" />
            
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form7Example4">Street/locality</label>
            <input type="text" id="form7Example4" name="street" class="form-control" />
            
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="form7Example4">District/City</label>
            <input type="text" id="form7Example4" name="district" class="form-control" />
            
          </div>

           <div class="form-outline mb-4">
             <label class="form-label" for="form7Example4">State</label>
            <input type="text" id="form7Example4" name="state" class="form-control" />
            
          </div>

          <!-- Email input -->
          

          <!-- Number input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form7Example6">Phone</label>
            <input type="text" id="form7Example6" name="phoneNumber" minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
            
          </div>

          

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-2">
           <input class="btn btn-primary" type="submit" value="Submit">
           
          </div>
        </form>
      </div>
    </div>
  </div>

  
</div>

<script src="/user/javascripts/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
  // form validation

$("#addaddress").validate({
    rules:{
      name:{
            required:true
        },
        house:{
            required:true
            
        },
        street:{
            required:true

        },
        
        district:{
            required:true
        },
      state:{
            required:true
        },
        phoneNumber:{
          required:true,
        }
        
        
    },
    messages:{
        name:{
            required: 'fullname is required'
        },
        house:{
            required: 'House no. is required'
        },
        street:{
            required:'Street name is required'

        },
        district:{
            required: 'District is required'
        },
        state:{
            required: 'state is required'
        },
         phoneNumber:{
          required:'Phone number is required'
        
        }
        



    },
    highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            }
});
</script>
