   <div class="d-flex justify-content-center align-items-center continer">
      <div class=" py-5 px-3" 
      style=" width: 350px;
          padding: 10px;
          border-radius: 20px;
          background: #d4efdf;
          border: none;
          position: relative;">
        <h5 class="m-0 text-center">Mobile phone verification</h5><br>
        {{!-- <span class="" style=" color: #cd5c5c;
                              font-size: 15px;"
          ><b>Enter the code we just sent on your phone</b>
          <b style="color:#145a32;">+91 09899619282</b>
        </span> --}}
         <h6 class="text-center" >Please enter the one time password <br> to verify your account</h6>
         <h4 style="color: red;" class="text-center otperror" id="error">INVALID OTP</h4>
        <div class="d-flex flex-row mt-5" id="otp">
          <input type="text" class="form-control" name="otp" id="first" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" style=" margin-right: 12px;" autofocus="" />
          <input type="text" class="form-control" name="otp" id="second" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" style=" margin-right: 12px;" />
          <input type="text" class="form-control" name="otp" id="third" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" style=" margin-right: 12px;" />
          <input type="text" class="form-control" name="otp" id="fourth" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" style=" margin-right: 12px;" />
          <input
           class="m-2 text-center form-control rounded" style="display: none;" type="text" id="phonnumber" name="phonenumber" value="{{phoneNumber}}" />
        </div>
        <div class="text-center mt-5">
          <span class="d-block mobile-text" id="countdown"></span>
          <a onclick="otpresent()"><span class="d-block mobile-text" id="resend"></span></a>
        </div>
         <div class="mt-4 d-flex justify-content-center"> <button  id="btn-submit" class="btn btn-danger px-4 validate" onclick ="otpsubmits()">VERIFY</button> </div>
            </div>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

let timerOn = true;
function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  m = m < 10 ? "0" + m : m;
  s = s < 10 ? "0" + s : s;
  document.getElementById("countdown").innerHTML = `Time left: ${m} : ${s}`;
  remaining -= 1;
  if (remaining >= 0 && timerOn) {
    setTimeout(function () {
      timer(remaining);
    }, 1000);
    document.getElementById("resend").innerHTML = `
    `;
    return;
  }
  if (!timerOn) {
    return;
  }
  document.getElementById("resend").innerHTML = `Don't receive the code? 
  <span class="font-weight-bold text-color cursor" style="cursor: pointer;" onclick="timer(60)">Resend
  </span>`;
}
timer(60);


function otpsubmits(){
  console.log("fk")
 
    var first = document.getElementById("first").value;
        var second = document.getElementById("second").value;
        var third = document.getElementById("third").value;
         var fourth = document.getElementById("fourth").value;
         
         var otpnumber = first+second+third+fourth
         var phoneNumber = document.getElementById("phonnumber").value;


$.ajax({
    url:'/signupOtpsubmit?phonenumber='+phoneNumber+'&otpnumber='+otpnumber,
    method:'get',
    success:(response)=>{
        if(response){
            window.location.replace("/");
        }else{
            document.getElementById("error").classList.remove("otperror");
        }
    }
})


}
function otpresent(){

  $.ajax({
    url:'/resendotp',
    method:'get',
    success:(response)=>{
        if(response){
            window.location.replace("/otp-verify");
        }else{
           window.location.replace("/otp-verify"); 
        }
    }
})

}

</script>