

<section class=" bg-image" style="background-color: #cccbcbd0;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="d-flex justify-content-center align-items-center" style="padding-bottom: 5rem; padding-top:5rem;">
        {{!-- <div class="col-12 col-md-9 col-lg-7 col-xl-6 p-2"> --}}
          <div class="card " style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-3">Create an account</h2>

              <form action="/user-signup" id="usersignup" method="post">
              {{#if emailexist}}
              <h5 class="text-danger">Email already exist</h5>
              {{/if}}
                <div class="form-outline mb-2">
                   <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input
                    type="text"
                    name="Username"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                  />
                 
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input
                    type="text"
                    name="Email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                  />
                  
                </div>

                <div class="form-outline mb-2">
                   <label class="form-label" for="form3Example5cg">Your mobile number</label>
                  <input
                    type="text"
                    name="Mobile"
                    id="form3Example5cg"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                    class="form-control form-control-lg"
                  />
                 
                </div>

                <div class="form-outline mb-2">
                   <label
                    class="form-label"
                    for="form3Example4cg"
                  >Password</label>
                  <input
                    type="password"
                    name="Password"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                  />
                 
                </div>

                <div class="form-outline mb-2">
                   <label class="form-label" for="form3Example4cdg">Repeat your
                    password</label>
                  <input
                    type="password"
                    name="Confirmpwd"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                  />
                 
                </div>

               

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >Register</button>
                </div>
                
                

                <p class="text-center text-muted mt-2 mb-0">Have already an
                  account?
                  <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        {{!-- </div> --}}
      </div>
    </div>
  </div>
</section>
 <script src="/user/javascripts/jquery-3.2.1.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
  $("#usersignup").validate({
    rules:{
        Username:{
            required:true
        },
        Email:{
            required:true,
            Email:true
            
        },
        Mobile:{
            required:true,
            minlength:10,
            maxlength:10
        },
        
        Password:{
            required:true,
            minlength:8
        },
        Confirmpwd:{
            required:true
        }
    },
    messages:{
        Username:{
            required: 'Username is required'
        },
        Email:{
            required: 'Email address is required'
        },
        Mobile:{
            required:'Mobile number is required'

        },
        Password:{
            required: 'Password is required'
        },
        Confirmpwd:{
            required: 'Confirm Password is required'
        }


    }
});
</script>
